```
*.py[cod]
*$py.class
__pycache__/
*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

MANIFEST

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.venv
venv/
ENV/
env/
env.bak/
venv.bak/

.mypy_cache/
.pyre/
.pytype/
.ruff_cache/
.dmypy.json
dmypy.json

.pdm-build/
.pdm-python

.pypackages/

*.db
*.sqlite3

.env
.env.*
!.env.example
!.env.template

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

```